@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body{
  background-color: #fff9f9;
}

.text-secondary{
  color: #AE7461 !important;
}

.btn-main{
  background-color: #1b3e6e !important;
  color: white !important;
  transition: 0.3s;
  width: fit-content !important;
}

.btn-secondary{
  background-color: #AE7461 !important;
  border: 1px solid #AE7461;
  color: white !important;
  transition: 0.3s;

}
.btn-secondary:hover{
  background-color: #784531 !important;
  color: white !important;
  border: 1px solid #784531;

}

.btn-outline-main{
  background-color: transparent !important;
  color: #1b3e6e !important;
  border: 1px solid #1b3e6e !important;
  transition: 0.3s;
}

.btn-main:hover{
  background-color: #061f43 !important;
  color: white;
}

.btn-outline-main:hover{
  background-color:  #061f43 !important;
  color: white !important;
}
.text-main{
  color: #1b3e6e ;
}
.banner-heading{
  font-size: 3.5rem !important;
  font-weight: bold;
}
h1,h2,h3,h4{
  font-family: 'Josefin Sans', sans-serif !important;
}
.text-spaced{
  letter-spacing: 0.05em;
  line-height: 1.5em;
}

.bg-main{
  background-color: #1b3e6e !important;
}

.bg-main-transparent{
  background-color:  #7fa4d9dc !important;
  color: black;

}

.card-wrapper {
  padding: 2%;
}

.card-wrapper .card{
  margin: 0 auto;
}

.card {
  position: relative;
  background-color: #fbfbff;
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 10px;
  box-shadow: 1px 2px 8px rgba(100, 100, 100, 0.1);
}

.image-wrapper {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.image-link{
  width: 100% !important;
}

.post-img {
  object-fit: cover;
  width: 100%;
  height: 250px !important;
}

.post-img:hover {
  -webkit-transform: scale3d(1.1, 1.1, 1);
  transform: scale3d(1.1, 1.1, 1);
  transition: all 1s linear;
}

.text-box-wrapper {
  padding: 20px
}

.heading {
  font-family: 'Playfair-Display';
  font-size: 36px;
  font-weight: 500;
  line-height: 1;
}

.heading::after {
  content: '';
  display: block;
  margin-top: 0.5em;
  width: 30px;
  height: 5px;
  background-color: black;
}

.text {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 12px;
  padding-top: 10px;
  line-height: 2;
}

.button {
  display: inline-block;
  margin-left: 10px;
  padding: 5px 10px;

  font-family: 'Poppins';
  font-size: 12px;
  font-weight: 700;
  color: #784531;
  text-decoration: none;

}

.button:hover {
  color: black;

  transition: linear 0.2s;
}
